div{
    width: 590px;
    background-color: black;
    color: white;
    margin-bottom: 2px;
    padding: 5px;
    text-align: center;
}
h1{
    margin: 0;
}
#mensaje{
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
#enviar {
  background-color: #555555;
  border: none;
  color: white;
  padding: 1px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}
#puntuacion,
#tiempo{
    font-size: 18px;
    font-weight: bold;
    font-family: "arial";
    color: #0F0;
}

